ul#topbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 25px;
    overflow: hidden;
}

ul#results {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    border-bottom-left-radius:  0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

li img#result{
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a#result{
    display: block;
    color: #000;
    padding: 8px 16px;
}

li#topbar {
    float: left;
}

li#topbar a#topbar {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li#topbar a#topbar:hover:not(.active) {
    background-color: #111;
}

li#topbar img#topbar:hover:not(.active) {
    background-color: #111;
}

.active#topbar {
    background-color: rgb(33, 134, 216);
}

.seScale#topbar {
    position: absolute;
    height: 46px;
    transform: translateX(-46px) ;
    border-radius: 25px;
}

.actives#topbar {
    background-color: rgb(33, 134, 216);
    position: absolute;
    height: 46px;
    transform: translateX(-46px) ;
    border-radius: 25px;
}