ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 25px;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

li img:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: rgb(33, 134, 216);
}

.seScale {
    position: absolute;
    height: 46px;
    transform: translateX(-46px) ;
    border-radius: 25px;
}

.actives {
    background-color: rgb(33, 134, 216);
    position: absolute;
    height: 46px;
    transform: translateX(-46px) ;
    border-radius: 25px;
}